.App {
  text-align: center;
  margin-top: 5%;
}

#slack {
  display: none;
}

#profile__img {
  position: relative;
}

.header_div {
  position: relative;
  width: 88px;
  height: 88px;
  margin: auto;
  z-index: 5;
}

#ig-icon {
  position: absolute;
  z-index: 2;
  bottom: 5px;

  left: 40%;
}


#twitter {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#share-icon {
  top: 50px;
  border-radius: 50%;
  position: absolute;
  border: 1px #d0d5dd dashed;
  width: 15.19px;
  height: 14.02px;
  padding: 10px;
  right: 30%;
  cursor: pointer;
}

#share-icon:hover {
  background-color: #d0d5dd;
}

.overlay {
  display: none;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  width: 88px;
  height: 88px;
}

.header_div:hover .overlay {
  display: block;
  background: linear-gradient(
    0deg,
    rgba(52, 64, 84, 0.75),
    rgba(52, 64, 84, 0.75)
  );
  cursor: pointer;
}

#mobile_menu {
  display: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 20%;
  border: 1px dashed #d0d5dd;
}

#mobile-btn {
  display: none;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .App {
    margin-top: 20%;
  }
  #share-icon {
    display: none;
  }
  #mobile_menu {
    display: block;
  }
  #mobile-btn {
    width: 13.33px;
    height: 4px;
    display: block;
    bottom: 45%;
    left: 35%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
