#links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 24px 32px;
  gap: 8px;
  width: 1152px;
  height: 76px;
  color: #101828;
  font-weight: 600;
  font-size: 18px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  background-color: #d0d5dd;
  transition: 500ms;
}

.icons {
  display: flex;
  gap: 12px;
  margin: 40px 0px 60px 0px;
  cursor: pointer;
}

.horizontal_line {
  height: 1px;
  width: 1152px;
  background: #eaecf0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 300px;
  margin-bottom: 20px;
}
.footer,
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 343px;
    height: 68px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  .horizontal_line {
    width: 343px;
    height: 1px;
  }

  #link-container {
    height: 80vh;
  }
}
